<header class="header">
    <nav class="navbar">
        <div class="navbar-container">
            <a [routerLink]="['/home']" class="navbar-logo">{{ title }}</a>
            <div class="menu-container" [class.active]="isNavbarOpen">
                <ul class="navbar-menu">
                    <ng-container *ngFor="let item of navItems">
                        <li *ngIf="!isAlumno() || !item.access">
                            <a [routerLink]="item.path" routerLinkActive="active">
                                {{ item.label }}
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="dropdown" style="float:right;">
                <button class="dropbtn">{{getNombreUsuario()}} <fa-icon [icon]="faChevronDown"></fa-icon></button>
                <div class="dropdown-content">
                    <hr>
                    <a (click)="logout()" [routerLink]="['/login']">
                        Cerrar Sesi&oacute;n <fa-icon [icon]="faDoorOpen"></fa-icon>
                    </a>
                </div>
            </div>
            <button class="navbar-toggle" (click)="toggleNavbar()">
                <span class="navbar-toggle-icon"></span>
            </button>
        </div>
    </nav>
</header>